<mat-drawer-container class="app-sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="app-sidenav mat-elevation-z10"
    [mode]="isScreenSmall() ? 'over' : 'side'"
    [opened]="!isScreenSmall()"
  >
    <mat-toolbar color="primary">
      appearance
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item role="listitem" routerLink="/note/note-list"
        >List</mat-list-item
      >
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item role="listitem" routerLink="/note/note-table"
        >Table</mat-list-item
      >
    </mat-nav-list>
  </mat-drawer>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="drawer.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
